<!DOCTYPE html>
<html>

<head><!-- Comments: This is the header kinda like top title of your website -->
		<title>Homepage</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVr	LvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
	<!-- Comments the line below allows you to link html file to your css file
	since its in the same folder, 
	href can just ref it with style.css 
	Guessing that type is to declare its css
	rel...idk what this does -->
	</head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
			<li><a href="/">Home</a></li>
			<li><a href="page2">Events</a></li>
        </ul>
        <ul class="pull-right">
			<li><a href="page1">Info</a></li>
			<li><a href="checkin">Log In</a></li>
			<li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
		<div class="container">
			<h1>Welcome to Campus Clash</h1>
		<p>Duke it out with your fellow classmates and find out whos the top College at UCSD!</p>
		</div>
    </div> 

    <div class="learn-more">
	  <div class="container">
		<div class="row">
			<div class= "col-md-4">
				<h3>Description at a glance</h3>
				<p>UCSD is made of 6 colleges: Sixth, Warren, Marshall, ERC, Muir, and Revelle. All of which are home to hundreds of league champions! Come join your fellow classmates in working together to show League of Tritons who is the number one house- I mean college - *cough cough* at UCSD!</p>
			</div>
			<div class= "col-md-4">
				<h3>How to play</h3>
				<p>There are several many ways to play! Anyone can earn points for their respective schools by being proactive!</p>
				<p>To Play For Free: Coming out to events and signing in will automatically earn you a point along with any blitz points earned at any event </p>
				<p>*OPTIONAL* Membership($10): Membership cards are bought from Triton Gaming and upon purchase gives your college a point!  
			</div>
			<div class= "col-md-4">
				<h3>Upcoming events</h3>
				<h4> General Body Meeting Wednesday:   September 21	6 - 8 PM </h4>
				<p>A presentation to prospective new and returning members about our organization and events. There will be a raffle giveaway and a social after the event.</p>
				<h4>University Centers Presents: First Friday - The Triton League:   Friday, September 23</h4>
				<p>University Centers is turning the entire Price Center into a Pokemon-themed events with movies, games, arts and crafts, and more! We will be hosting a variety of mini-tournaments and freeplay areas at East.</p>
				<h4>Division Showcase:   Sunday, September 25</h4>
				<p>Triton Gaming will be filling up East with all of our various gaming divisions. We are offering basic information, competitive gaming opportunities, and small gaming booths.</p>
				<h4>Collab: SD Hacks:   September 30 - October 2	</h4>
				<p>San Diego's annual hackathon will now have a gaming lounge where hackers can play for prizes or blow off some steam. We will be running mini-tournaments with prizing.</p>
				<h4>General Body LAN:   General Body LAN</h4>
				<p>Our quarterly LAN returns with tournaments, prizing, and freeplay areas.</p>
				<h4>Melee Super Triweekly:   Sunday, October 23</h4>
				<p>Our Super Smash Bros Melee division is presenting an upgraded version of their usual tri-weekly tournaments. Event doubles as The Melee Games (TMG) Qualifier.</p>
				<h4>League of Legends Worlds Championship Viewing Party:   Saturday, October 29</h4>
				<p>Join the local UC San Diego League community and watch world-class teams clash on the Rift.</p>
				<h4>To Be Announced:   Sunday, November 13</h4>
				<p>From Verified ID support team, we've got your back.</p>
			</div>
	    </div>
	  </div>
	</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>