<html> <!-- Comments -->
	<head><!-- Comments: This is the header kinda like top title of your website -->
		<title>My Website</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
	<!-- Comments the line below allows you to link html file to your css file
	since its in the same folder, 
	href can just ref it with style.css 
	Guessing that type is to declare its css
	rel...idk what this does -->
	</head>
</html>
